# Ignore ficheiros de caches e compilação locais
/.phpunit.cache
/.phpunit.result.cache
/.phpactor.json

# Node.js e npm/Yarn
/node_modules
/npm-debug.log
/yarn-error.log


# Vendor
/vendor

# Arquivos de ambiente e configuração local
.env
.env.backup


# Ferramentas de desenvolvimento e IDEs
/.fleet
/.idea
/.vscode
/.zed

# Vagrant/Homestead
Homestead.json
Homestead.yaml

# Composer
auth.json

# Ignorar temporários
.DS_Store
Thumbs.db
desktop.ini

